{
  "singleQuote": true,
  "endOfLine": "auto",
  "semi": false,
  "printWidth": 110,
  "bracketSpacing": true,
  "tabWidth": 2,
  "tailwindStylesheet": "./src/index.css",
  "tailwindFunctions": ["clsx"],
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
