---
import PageLayout from '@layouts/page.layout.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'
---

<PageLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h1>Hello, World!</h1>
</PageLayout>
