---
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'
import BaseHead from '../layouts/base-head.layout.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <h1>Hello, World!</h1>
  </body>
</html>
