---
import { Sections } from '@components'
import BaseHead from './base-head.layout.astro'

const { title, description } = Astro.props
const locale = Astro.currentLocale
---

<!doctype html>
<html lang={locale}>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <Sections.Header />
  <main class="min-h-dvh">
    <slot />
  </main>
  <footer></footer>
</html>
